build/
dist/
*.egg-info/
**/__pycache__/

**/.ipynb_checkpoints
**/.ipynb_checkpoints/**

*.swp

.vscode/
wandb/
.DS_Store
*.sh~

*.sh
*.yaml
notebooks/dataloader_benchmark_results.csv
notebooks/dataloader_benchmark_results_10000_gpuTrue.csv
notebooks/dataloader_benchmark.ipynb
notebooks/test_nb.ipynb
notebooks/time_vs_num_workers_workstation.png
notebooks/dataloader_benchmark_results_10000_gpuTrue/time_vs_num_workers_workstation.png

notebooks/
*.csv
*.png
logs/log.txt
notebooks/test_nb.ipynb
